@model AllProjectsWithOthers
<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay big-padding">

    <!-- Transparent Header Spacer -->
    <div class="transparent-header-spacer"></div>
    <div class="transparent-header-spacer"></div>

    <div class="container">

        <!-- Intro Headline -->
        <div class="row">
            <div class="col-md-12">
                <div class="banner-headline-alt">
                    <h3>Layihəni axtarış et</h3>
                    <span>Bitmiş və ya hazırda aktiv olan</span>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-12">
                <div class="intro-banner-search-form margin-top-30">

                    <!-- Search Field -->
                    <div class="intro-search-field">
                        <input id="intro-keywords" type="text" placeholder="Layihə və ya Task adı">
                    </div>

                    <!-- Button -->
                    <div class="intro-search-button">
                        <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-1.html'">Axtar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats -->
        <div class="row">
            <div class="col-md-12">
                <ul class="intro-stats margin-top-45 hide-under-992px">
                    <li>
                        <strong class="counter">45</strong>
                        <span>Layihə</span>
                    </li>
                    <li>
                        <strong class="counter">185</strong>
                        <span>Task</span>
                    </li>
                    <li>
                        <strong class="counter">65</strong>
                        <span>2-ci modul Tələbəsi</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Video Container -->
    <div class="video-container" data-background-image="images/home-video-background-poster.jpg">
        <video loop autoplay muted>
            <source src="images/home-video-background.mp4" type="video/mp4">
        </video>
    </div>

</div>


<!-- Tasks
================================================== -->
<div class="section padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Ən son tasklar</h3>
                </div>

                <!-- Tasks Container -->
                <div class="listings-container margin-top-35">

                    @foreach (var task in Model.projectTasks)
                    {
                        <!-- Job Listing -->
                        <div class="job-listing">
                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <!-- Logo -->
                                <a asp-route="task-single_task" asp-route-id="@task.TaskId" class="job-listing-company-logo">
                                    <img src="/images/task-logo.png" alt="">
                                </a>

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <a asp-route="project-single_project" asp-route-id="@task.ProjectId"><h4 class="job-listing-company">@task.Project.Name</h4></a>
                                    <h3 class="job-listing-title">@task.Name</h3>
                                    <p class="job-listing-text">@(task.TaskInfo.Substring(0, Math.Min(task.TaskInfo.Length, 300))+"....")</p>
                                    <div class="task-tags">
                                        <span>HTML</span>
                                        <span>Css</span>
                                        <span>Js</span>
                                        <span>Bootstrap</span>
                                        <span>ReactJS</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer d-flex justify-content-between">
                                <ul>
                                    <li><i class="icon-material-outline-business-center"></i><strong>@task.RequiredDays günlük</strong></li>
                                    <li><i class="icon-material-outline-account-balance-wallet"></i><strong>@task.Cost &#8380; </strong> </li>
                                    @{
                                        if (task.PublishDate!=null)
                                        {
                                            var publishDate = DateTime.Now.Day - task.PublishDate.Value.Day;
                                        }
                                        //Burda sehvlik var publish date
                                    }
                                    <li><i class="icon-material-outline-access-time"></i><strong>@task.RequiredDays gün əvvəl</strong></li>
                                </ul>
                                <a asp-route="task-single_task" asp-route-id="@task.TaskId" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                            </div>
                        </div>

                    }


                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-30 margin-bottom-60">
                                <nav class="pagination">
                                    <ul>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#" class="current-page">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                </div>
                <!-- Jobs Container / End -->



            </div>
        </div>
    </div>
</div>
<!-- Tasks / End -->
<!-- Projects
================================================== -->
<div class="section padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Ən son layihələr</h3>
                    <a href="profile/projects" class="headline-link">Bütün layihələrə bax</a>
                </div>



                <!-- Projects Container -->
                <div class="listings-container compact-list-layout margin-top-35">
                    @foreach (var project in Model.projects)
                    {
                        <!-- Projects Listing -->
                        <a asp-route="project-single_project" asp-route-id="@project.ProjectId" class="job-listing with-apply-button">
                            <!-- Project Listing Details -->
                            <div class="job-listing-details">
                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title">@project.Name</h3>
                                    <!-- Project Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            @{
                                                var jobDate = (project.EndDate - project.StartDate).Value.Days;
                                                var publishDate = DateTime.Now.Day - project.StartDate.Value.Day; //Burda sehvlik var publish date basqasi olacaq
                                            }
                                            <li><i class="icon-material-outline-business-center"></i> @jobDate günlük</li>
                                            <li><i class="icon-material-outline-access-time"></i>@publishDate gün əvvəl</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- More -->
                                <span class="list-apply-button ripple-effect">Daha ətraflı</span>
                            </div>
                        </a>
                        <!-- End of Projects Listing -->
                    }
                </div>
                <!-- Jobs Container / End -->

            </div>
        </div>
    </div>
</div>
<!-- Projects / End -->



<partial name="_Footer" />



@section scripts{
    <script>
        $(document).ready(function () {
            // Sticky Header Init
            stickyHeader()

        })

    </script>
}
