@model ProjectWithOthers;
@inject UserManager<ApplicationUser> userManager
<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>

<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="/images/single_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-details">
                            <h3>@Model.project.Name</h3>
                            <h5>@Model.project.Category</h5>
                            <ul class="margin-top-19">
                                @{
                                    var jobDate = (Model.project.EndDate - Model.project.StartDate).Value.Days;
                                    var publishDate = DateTime.Now.Day - Model.project.StartDate.Value.Day; //Burda sehvlik var publish date basqasi olacaq
                                }
                                <li><i class="icon-material-outline-business-center"></i>@jobDate günlük iş</li>
                                <li><i class="icon-material-outline-access-time"></i>@publishDate gün əvvəl </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="salary-box">
                            <div class="salary-type">Layihənin dəyəri</div>
                            <div class="salary-amount">@Model.project.MinCost &#8380; - @Model.project.MaxCost &#8380;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">
        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Layihə haqda</h3>
                <p>@Model.project.ProjectInfo </p>
            </div>

            <div class="single-page-section">
                <h3 class="margin-bottom-30">Texniki tapşırıq</h3>
                <div class="attachments-container">
                    <a href="#" class="attachment-box ripple-effect"><span>Project Haqda</span><i>PDF</i></a>
                </div>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">
                <!-- Sidebar Widget -->
                <div class="sidebar-widget">
                    <div class="job-overview">
                        <div class="job-overview-headline">Layihənin detalları</div>
                        <div class="job-overview-inner">
                            <ul>
                                <li>
                                    <i class="icon-feather-user"></i>
                                    <span>Layihə rəhbəri</span>
                                    <h5><a href="#">@userManager.FindByIdAsync(Model.project.ProjectManagerID).Result.Name @userManager.FindByIdAsync(Model.project.ProjectManagerID).Result.Surname</a></h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-business-center"></i>
                                    <span>Ümumi iş müddəti</span>
                                    <h5>@jobDate gün</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-access-time"></i>
                                    <span>Layihənin başlama tarixi</span>
                                    <h5>@Model.project.StartDate.Value.Date</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-access-alarm"></i>
                                    <span>Layihənin bitmə tarixi</span>
                                    <h5>@Model.project.EndDate.Value.Date</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <h3 class="page-title">Layihəyə aid Tasklar</h3>

            <!-- Tasks Container -->
            @foreach (var task in Model.projectTasks)
            {
                <!-- Tasks Container -->
                <div class="tasks-list-container margin-top-35">
                    <!-- Task -->
                    <div class="task-listing" style="cursor: context-menu;">
                        <!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <h3 class="task-listing-title">@task.Name</h3>
                                <ul class="task-icons">
                                    <li><i class="icon-material-outline-business-center"></i><strong>@task.RequiredDays günlük</strong></li>
                                    @{
                                        //var taskPublishDate = DateTime.Now.Day - task.StartDate.Value.Day; //Burda sehvlik var publish date basqasi olacaq
                                    }
                                    <li><i class="icon-material-outline-access-time"></i><strong> @task.RequiredDays gün əvvəl</strong></li>
                                </ul>
                                <p class="task-listing-text">@(task.TaskInfo.Substring(0, Math.Min(task.TaskInfo.Length, 200))+"....")</p>
                                <div class="task-tags">
                                    <span>SQL</span>
                                    <span>ORM</span>
                                    <span>MSSQLServer</span>
                                    <span>MySQL</span>
                                </div>
                            </div>
                        </div>

                        <div class="task-listing-bid">
                            <div class="task-listing-bid-inner">
                                <div class="task-offers">
                                    <strong>@task.Cost&#8380;</strong>
                                    <span>İşin dəyəri</span>
                                </div>
                                <a asp-route="task-single_task" asp-route-id="@task.TaskId" class="button button-sliding-icon ripple-effect">Daha ətraflı <i class="icon-material-outline-arrow-right-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tasks Container / End -->
            }

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Pagination -->
                    <div class="pagination-container margin-top-30 margin-bottom-60">
                        <nav class="pagination">
                            <ul>
                                <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                <li><a href="#" class="ripple-effect">1</a></li>
                                <li><a href="#" class="current-page ripple-effect">2</a></li>
                                <li><a href="#" class="ripple-effect">3</a></li>
                                <li><a href="#" class="ripple-effect">4</a></li>
                                <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Pagination / End -->
        </div>
    </div>


</div>



<partial name="_Footer" />

