
@{
    ViewData["Title"] = "confirmed_tasks";
}

@model AllApliedTasksWithOthers;
@inject UserManager<ApplicationUser> userManager
<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>


<!-- Dashboard Container -->
<div class="dashboard-container">


    <partial name="_Profile_sidebar" />

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            @if (Model.appliedTasks != null)
            {
                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Tehvil Verilen Tasklar</h3>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">
                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-feather-bar-chart-2"></i>Tasklar</h3>
                            </div>

                            <div class="content with-padding padding-bottom-10">
                                <div class="row">
                                    <table id="projects_table" class="table table-striped text-center">
                                        <thead>
                                            <tr>
                                                <th>Ad</th>
                                                <th>Dəyəri</th>
                                                <th>İş müddəti</th>
                                                <th>Github</th>
                                                <th>Is Tehvil Verilen</th>
                                                <th>Alətlər</th>
                                                <th>Mileston</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                @foreach (var applyTask in Model.appliedTasks)
                                                {

                                                    <tr>
                                                        @{var NoAppliedTask = true; }
                                                        <td><a href="#">@applyTask.Task.Name</a></td>
                                                        <td>@applyTask.Price</td>
                                                        <td>@applyTask.Day</td>
                                                        <td>
                                                            <a href="@applyTask.Task.GithubUrl" data-tippy-placement="top" data-tippy="" data-original-title="Github branch"><i class="icon-feather-github" style="font-size:24px !important;"></i></a>
                                                        </td>
                                                        @{
                                                            var user = userManager.FindByIdAsync(applyTask.UserID).Result;
                                                        }
                                                        <td>@user.Name @user.Surname </td>
                                                        <td>
                                                            <a asp-route="task-edit_task" asp-route-id="@applyTask.TaskID"><i class="icon-line-awesome-edit" style="font-size:24px !important;"></i></a>
                                                            <a style="cursor: pointer;" onclick="event.preventDefault(); RemoveTask('@Url.RouteUrl("task-remove_task", new { id = applyTask.TaskID })');"><i class="icon-material-outline-delete" style="font-size:24px !important; color: red !important;"></i></a>
                                                            <a asp-route="task-single_task" asp-route-id="@applyTask.TaskID"><i class="icon-material-outline-my-location" style="font-size:24px !important; "></i></a>
                                                        </td>
                                                        <td>
                                                            <a asp-route="task-profile_milestone-add" asp-route-task_id="@applyTask.TaskID"><i class="icon-material-outline-add" style="font-size:24px !important; "></i></a>
                                                            <a asp-route="task-profile_milestones" asp-route-task_id="@applyTask.TaskID"><i class="icon-material-outline-assessment" style="font-size:24px !important; "></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Row / End -->
            }



            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->



@section scripts{
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/tasks.js" asp-append-version="true"></script>

}


