@model TaskMilestonesWithOthers

<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>

<!-- Dashboard Container -->
<div class="dashboard-container">

    <partial name="_Profile_sidebar" />

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Headline -->
            <div class="dashboard-headline">
                <h3>Task milestonu editlə</h3>
                <span class="margin-top-7">Layihə :  <a href="#">@Model.project.Name</a></span>
                <span class="margin-top-7">Task :  <a href="#">@Model.projectTask.Name</a></span>
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a asp-route="profile-whole_tasks">Tasklar</a></li>
                        <li><a href="#">Task milestonları</a></li>
                        <li>Milestone editlə</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <form asp-route="task-profile_milestone-edited" method="post" role="form">
                <div class="row">
                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">
                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-feather-folder-plus"></i> Task Milestionu editlə</h3>
                            </div>

                            <div class="content with-padding padding-bottom-10">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Milestonun adı </h5>
                                            <input type="text" class="with-border" asp-for="@Model.milestone.Name" placeholder="@Model.milestone.Name">
                                            <span asp-validation-for="@Model.milestone.Name"></span>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Milestonun baslanma müddəti  <i class="help-icon" data-tippy-placement="right" title="Daxil edilən gün gələcəkdən olmalıdır"></i></h5>
                                            <input type="date" asp-for="@Model.milestone.StartDate" class="with-border" placeholder="@Model.milestone.StartDate">
                                            <span asp-validation-for="@Model.milestone.StartDate"></span>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Milestonun bitme müddəti  <i class="help-icon" data-tippy-placement="right" title="Daxil edilən gün gələcəkdən olmalıdır"></i></h5>
                                            <input type="date" asp-for="@Model.milestone.FinishDate" class="with-border" placeholder="@Model.milestone.FinishDate">
                                            <span asp-validation-for="@Model.milestone.FinishDate"></span>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Tələblər</h5>
                                            <textarea cols="30" asp-for="@Model.milestone.MilestoneText" rows="5" placeholder="@Model.milestone.MilestoneText" class="with-border"></textarea>
                                            <span asp-validation-for="@Model.milestone.MilestoneText"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" value="@Model.milestone.ID" asp-for="@Model.milestone.ID" />
                                    <input type="hidden" value="@Model.projectTask.TaskId" asp-for="@Model.milestone.ProjectTaskId" />
                                    <input type="hidden" value="@Model.milestone.Status" asp-for="@Model.milestone.Status" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <input type="submit" class="button ripple-effect big margin-top-30" value="Yadda Saxla"/>
                    </div>
                </div>
            </form>
            <!-- Row / End -->
            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
