@model TaskMilestonesWithOthers
<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>

<!-- Dashboard Container -->
<div class="dashboard-container">

    <partial name="_Profile_sidebar" />

    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Headline -->
            <div class="dashboard-headline">
                <h3>Task milestonları</h3>
                <span class="margin-top-7">Layihe :  <a href="#">@Model.project.Name</a></span>
                <span class="margin-top-7">Task :  <a href="#">@Model.projectTask.Name</a></span>
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a asp-route="profile-whole_tasks">Tasklar</a></li>
                        <li>Task milestonları</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">
                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline d-flex justify-content-between">
                            <h3><i class="icon-material-outline-assessment" style="font-size:24px !important; "></i> Milestonlar</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                @foreach (var milestone in Model.TaskMilestones)
                                {
                                <li>
                                    <!-- Job Listing -->
                                    <div class="job-listing width-adjustment">
                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">
                                            <!-- Details -->
                                            <div class="job-listing-description d-flex justify-content-between">
                                                <h3 class="job-listing-title">
                                                    <a href="#">@milestone.Name</a>@{var status = (MileStoneEnum)milestone.Status;
                                                        if (status == MileStoneEnum.Vaxti_bitib)
                                                        {<span class="dashboard-status-button red">@status.ToString()</span> }
                                                    else if (status == MileStoneEnum.Vaxta_var)
                                                    {
                                                        <span class="dashboard-status-button yellow">@status.ToString()</span>
                                                    }
                                                    else if (status == MileStoneEnum.Tesdiqlenmeyi_gozleyir)
                                                    {
                                                        <span class="dashboard-status-button green">@status.ToString()</span>
                                                    }
                                                    else if (status == MileStoneEnum.Tamamlanib)
                                                    {
                                                        <span class="dashboard-status-button green">@status.ToString()</span>
                                                    }
                                                    }
                                                </h3> <!-- red ~ Vaxti kecib, yellow ~ islenilir, green ~ task hazirdi  -->
                                                <!-- Job Listing Footer -->

                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li><i class="icon-material-outline-access-time"></i>@DateTime.Now.ToString("dd.MM.yyyy") - @milestone.FinishDate.Value.ToString("dd.MM.yyyy")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Task Details -->
                                    <ul class="dashboard-task-info">
                                        <li>
                                            <strong>
                                                @{
                                                    var result = 0;
                                                    for (var date = DateTime.Now; date <= milestone.FinishDate.Value; date = date.AddDays(1))
                                                    {
                                                        result++;
                                                    }}
                                            </strong><span>@result gün qalib</span>
                                        </li>
                                        <li><span>@milestone.MilestoneText</span></li>
                                    </ul>

                                    <!-- Buttons -->
                                    @{
                                        var roles = ViewBag.Roles;

                                        if (roles.Contains(UserRolesEnum.Müəllim.ToString()))
                                        {
                                            <div class="buttons-to-right always-visible">
                                                <a asp-route="task-profile_milestone-proofs" asp-route-milestone_id="@milestone.ID" asp-route-task_id="@milestone.ProjectTaskId" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Sübutlara bax</a>
                                                <a asp-route="task-profile_milestone-edit" asp-route-milestone_id="@milestone.ID"><i class="icon-line-awesome-edit" style="font-size:24px !important;"></i></a>
                                                <a asp-route="task-profile_milestone-remove" asp-route-milestone_id="@milestone.ID"><i class="icon-line-awesome-close" style="font-size:24px !important;"></i></a>
                                            </div>
                                        }
                                        else
                                        {
                                <div class="buttons-to-right always-visible">
                                    <a asp-route="task-profile_milestone-proof-add" asp-route-milestone_id="@milestone.ID" asp-route-task_id="@milestone.ProjectTaskId" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Sübutlar Elave Et</a>
                                    <a asp-route="task-profile_milestone-proofs" asp-route-milestone_id="@milestone.ID" asp-route-task_id="@milestone.ProjectTaskId" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Sübutlara bax</a>
                                </div>
                                        }
                                    }

                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->
            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
